<div fxFlex fxFlexFill fxLayout="column" style="position: relative;">
  <div class="pageCard">
    <div *ngIf="IsBusy" class="card-footer">
      <div aria-hidden="true" style="padding: 5px;" class="progress loop"></div>
    </div>
    <button
      style="margin-right: 2px;"
      class="btn btn-sm"
      (click)="LoadContainers()"
    >
      Refresh <clr-icon shape="refresh" size="12"></clr-icon>
    </button>
    <button
      [disabled]="!IsButtonEnabled('start')"
      (click)="StartContainer()"
      style="margin-right: 2px;"
      class="btn btn-success btn-sm"
    >
      Start
    </button>
    <button
      [disabled]="!IsButtonEnabled('stop')"
      (click)="StopContainer()"
      style="margin-right: 2px;"
      class="btn btn-primary btn-sm"
    >
      Stop
    </button>
    <button
      (click)="ReStartContainer()"
      [disabled]="!IsButtonEnabled('restart')"
      style="margin-right: 2px;"
      class="btn btn-primary btn-sm"
    >
      Restart
    </button>
    <button
      (click)="KillContainer()"
      [disabled]="!IsButtonEnabled('kill')"
      style="margin-right: 2px;"
      class="btn btn-danger btn-sm"
    >
      Kill
    </button>
    <button
      (click)="RemoveContainer()"
      [disabled]="SelectedItems.length == 0"
      style="margin-right: 2px;"
      class="btn btn-danger btn-sm"
    >
      Remove
    </button>
  </div>
  <div fxFlex fxFlexFill fxLayout="column" class="pageCard">
    <clr-datagrid
      #dataGrid
      [clrDgLoading]="IsBusy"
      [(clrDgSelected)]="SelectedItems"
      (clrDgRefresh)="LoadContainers()"
      style="height: 100% !important;"
      class="datagrid"
    >
      <!-- <clr-dg-column>ID</clr-dg-column> -->
      <clr-dg-column style="width: 75px;"></clr-dg-column>
      <clr-dg-column>Name</clr-dg-column>
      <clr-dg-column style="width: 75px;"></clr-dg-column>
      <clr-dg-column>Image</clr-dg-column>
      <clr-dg-column>Ports</clr-dg-column>
      <clr-dg-column>Status</clr-dg-column>
      <clr-dg-column>Created</clr-dg-column>

      <clr-dg-row
        *clrDgItems="let container of Containers"
        [clrDgItem]="container"
      >
        <clr-dg-cell style="padding: 8px;">
          <span class="icon_container">
            <clr-icon (click)="ShowLogs(container.id)" shape="view-list" class="is-solid icon-button"></clr-icon>
            <clr-icon (click)="OpenTerminal(container.id)" shape="terminal" class="is-solid icon-button"></clr-icon>
            <clr-icon shape="radar"  class="is-solid icon-button"></clr-icon>
          </span>
        </clr-dg-cell>
        <!-- <clr-dg-cell>{{ container.id | slice: 0:10 }}</clr-dg-cell> -->
        <clr-dg-cell>
          <a class="linkbutton" (click)="GetDetailUrl(container.id)">
            {{ container.names[0] | slice: 1:100 }}
          </a>
        </clr-dg-cell>
        <clr-dg-cell style="padding: 8px;">
          <span
            *ngIf="container.state == 'running'"
            class="label label-success"
            >{{ container.state }}</span
          >
          <span
            *ngIf="container.state == 'exited'"
            class="label label-warning"
            >{{ container.state }}</span
          >
        </clr-dg-cell>
        <clr-dg-cell class="wrapText">
          <a [attr.href]="GetImageUir(container.image)" target="_blank">
            {{ container.image }}
          </a></clr-dg-cell
        >
        <clr-dg-cell class="wrapText">
          <ng-template ngFor let-port [ngForOf]="container.ports">
            <clr-icon shape="link"></clr-icon>
            <a [attr.href]="GetUri(port)" target="_blank">
              {{ port.privatePort }}:{{ port.publicPort }}
            </a>
          </ng-template>
        </clr-dg-cell>
        <clr-dg-cell class="wrapText">{{ container.status }}</clr-dg-cell>
        <clr-dg-cell class="wrapText">{{
          container.created | date: "yyyy-MM-dd hh:mm:ss"
        }}</clr-dg-cell>
      </clr-dg-row>

      <clr-dg-footer>Containers</clr-dg-footer>
    </clr-datagrid>
  </div>
</div>
