html,
body {
  -webkit-text-size-adjust: none;
  /* font-family: sans-serif !important; */
  overflow: hidden;
  padding: 0 !important;
  position: absolute;
  width: 100%;
  height: 100%;
}

*:focus {
  outline: none !important;
}

.main-container .content-container .clr-vertical-nav,
.main-container .content-container .sidenav {
  border-right: 1px solid #bdbcbc;
}

.pageCard {
  border-radius: 0.125rem;
  border: 1px solid #d7d7d7;
  position: relative;
  display: block;
  background-color: #fff;
  width: 100%;
  margin-bottom: 5px;
  padding: 5px;
}

.datagrid {
  margin: 0px;
  border: none;
}