html,
body {
  -webkit-text-size-adjust: none;
  /* font-family: sans-serif !important; */
  overflow: hidden;
  padding: 0 !important;
  position: absolute;
  width: 100%;
  height: 100%;
}

*:focus {
  outline: none !important;
}

.clr-form-control {
  margin: 0px;
}

.main-container .content-container .clr-vertical-nav,
.main-container .content-container .sidenav {
  border-right: 1px solid #bdbcbc;
}

.main-container .content-container .content-area {
  padding: 0;
  margin: 5px;
}

.pageCard {
  border-radius: 0.125rem;
  border: 1px solid #d7d7d7;
  position: relative;
  display: block;
  background-color: #fff;
  width: 100%;
  margin-bottom: 5px;
  padding: 5px;
}

.datagrid {
  margin: 0px;
}

.swal2-modal {
  border-radius: 2px !important;
}

.swal2-modal .swal2-title {
  font-size: 14px !important;
}

.swal2-modal .swal2-content {
  font-size: 14px !important;
}

.swal2-modal .swal2-styled {
  font-size: 14px !important;
  padding: 5px 20px !important;
}

.swal2-popup {
  border-radius: 2px !important;
  font-size: 12px !important;
}

.wrapText {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.noty_theme__metroui.noty_bar .noty_body {
  padding: 1em;
  font-size: 12px !important;
}
.xterm {
  height: 100%;
}

/* Scrollbar */

.customscrollbar::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

.customscrollbar::-webkit-scrollbar-button {
  /*width: 4px;
    height: 2px;*/
}

.customscrollbar::-webkit-scrollbar-thumb {
  background: #b1b1b1;
  border-radius: 1px;
}

.customscrollbar::-webkit-scrollbar-thumb:hover {
  background: #676666;
}

.customscrollbar::-webkit-scrollbar-thumb:active {
  background: #616161;
}

.customscrollbar::-webkit-scrollbar-track {
  background: #333131;
  border-radius: 1px;
}

.customscrollbar::-webkit-scrollbar-track {
  background: #ffffff !important;
  border-radius: 1px;
}

.customscrollbar::-webkit-scrollbar-corner {
  background: transparent;
}
